[tool.poetry]
name = "fastapi-cli"
version = "0.1.0"
description = ""
authors = ["Chise1 <chise123@live.com>"]
include = ["LICENSE", "README.md"]
license = "Apache-2.0"
packages = [
    { include = "fastapi_cli" },
    { include = "tmp" }
]
repository = "https://github.com/Chise1/fastapi-cli"

[tool.poetry.dependencies]
python = "^3.7"
cookiecutter = "^1.7.2"
typer = "^0.3.2"

[tool.poetry.dev-dependencies]
python-dotenv = "^0.15.0"
tortoise-orm = "^0.17.0"
pydantic = "^1.8.1"
fastapi = "^0.63.0"
flake8 = "*"
isort = "*"
black = "^20.8b1"
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
pytest-asyncio = "*"
asynctest = "*"
bandit = "*"
mypy = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[[tool.poetry.source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
name = "tuna"
default = true


[tool.poetry.scripts]
fast-tmp = "fastapi_cli:main"
